@media(max-width:900px){


section{

padding:70px 5%;

}


.section-title{

font-size:2.2rem;

}


}



@media(max-width:600px){


.section-title{

font-size:1.8rem;

}


.text{

font-size:1rem;

}


}

/*HERO RESPONSIVENESS*/

@media(max-width:900px){


.hero-container{


grid-template-columns:1fr;

text-align:center;


}


.hero-content{


text-align:center;


}


.hero-content h1{


font-size:2.7rem;


}


.hero-image{


margin:auto;


}


}

/*INTRODUCTION RESPONSIVENESS*/

@media(max-width:900px){


.two-column{


grid-template-columns:1fr;

gap:40px;


}


.introduction-content{


text-align:center;


}


}

/*ABOUT RESPONSIVENESS*/
@media(max-width:900px){


.about-content{


text-align:center;


}


}

/*SKILLS RESPONSIVENESS*/
@media(max-width:900px){


.skills-container{


grid-template-columns:1fr;


}



.skills-content{


text-align:center;


}



.skills-grid{


grid-template-columns:1fr;


}


}

/*PROJECTS RESPONSIVENESS*/
@media(max-width:600px){


.project-content{


padding:20px;


}


}

/*EXPERIENCE RESPONSIVENESS*/
@media(max-width:600px){


.experience-card{


padding:20px;


}


}


/*CONTACT RESPONSIVENESS*/
@media(max-width:900px){


.contact-content{


text-align:center;


}



.contact-links{


align-items:center;


}



}